*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
em
,i{
    font-style: normal;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
button{
    cursor:pointer;
}
button,
input{
    border: 0;
    outline: none;
}
body{
    background-color: #ffffff;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
.center-wrap{
    width: 1152px;
    margin: 0 auto;
}